# Name: Jawad Hassan
# Section: Bs Ai
# Roll No: 2230-0035
# Teacher: Sir Zeeshan
#Lab 2

In [9]:
#activity tuple
numb=tuple(range(1,10))
print(numb)
color=('red','green','blue')
print(color)
print(type(color))
print(color[2])
if 'yellow' in color:
  print("available")
else:
  print("not available")
print(color)
color=list(color)
color[0]='pink'
color=tuple(color)
print(color)
color=list(color)
color.append('black')
color=tuple(color)
print(color)
(c1,c2,c3,c4)=color
print(c4)
(cc,*c,k)=color
print(cc)
print(c)
print(c[1])
print(k)
for i in color:
  print(i)
print(len(color))
for j in range(len(color)):
  print(color[j])
l=0
while l < len(color):
  print(color[l])
  l+=1
n=0
print('again')
while n in range(len(color)):
  print(color[n])
  n+=1
color_new=('orange','purple')
color=color+color_new
print(color)
color=color*2
print(color)
color=list(color)
color.remove('blue')
color=tuple(color)
print(color)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
('red', 'green', 'blue')
<class 'tuple'>
blue
not available
('red', 'green', 'blue')
('pink', 'green', 'blue')
('pink', 'green', 'blue', 'black')
black
pink
['green', 'blue']
blue
black
pink
green
blue
black
4
pink
green
blue
black
pink
green
blue
black
again
pink
green
blue
black
('pink', 'green', 'blue', 'black', 'orange', 'purple')
('pink', 'green', 'blue', 'black', 'orange', 'purple', 'pink', 'green', 'blue', 'black', 'orange', 'purple')
('pink', 'green', 'black', 'orange', 'purple', 'pink', 'green', 'blue', 'black', 'orange', 'purple')
{'apple', 'banana', 'cherry'}

In [26]:
#activity sets
aset={'apple','banana','cherry'}
print(aset)
for val in aset:
  print(val)
print('banana'in aset)
aset.add('orange')
print(aset)
bset={'kiwi','strawberry'}
aset.update(bset)
print(aset)
clist=['lemon','melon']
aset.update(clist)
print(aset)
aset.discard('watermelon')
print(aset)
aset.remove('orange')
print(aset)

{'apple', 'banana', 'cherry'}
apple
banana
cherry
True
{'orange', 'apple', 'banana', 'cherry'}
{'orange', 'strawberry', 'banana', 'apple', 'kiwi', 'cherry'}
{'orange', 'strawberry', 'banana', 'melon', 'apple', 'kiwi', 'cherry', 'lemon'}
{'orange', 'strawberry', 'banana', 'melon', 'apple', 'kiwi', 'cherry', 'lemon'}
{'strawberry', 'banana', 'melon', 'apple', 'kiwi', 'cherry', 'lemon'}

In [55]:
#activity dictionary
thisdict={
    'brand':'ford',
    'model':'mustang',
    'year':2010,
    'year':2020
}
print(thisdict)
print(thisdict['model'])
print(thisdict.keys())
ll=thisdict.get('brand')
print(ll,type(ll))
thisdict.update({'color':'red'})
thisdict.update({'year':'1000'})
print(thisdict)
thisdict['type']='hybrid'
thisdict['model']='civic'
print(thisdict)
for items in thisdict:
  print(thisdict[items])
thisdict.pop('model')
print(thisdict)
print(thisdict.popitem())
print(thisdict)
del thisdict['brand']
print(thisdict)
thisdict.clear()
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}
mustang
dict_keys(['brand', 'model', 'year'])
ford <class 'str'>
{'brand': 'ford', 'model': 'mustang', 'year': '1000', 'color': 'red'}
{'brand': 'ford', 'model': 'civic', 'year': '1000', 'color': 'red', 'type': 'hybrid'}
ford
civic
1000
red
hybrid
{'brand': 'ford', 'year': '1000', 'color': 'red', 'type': 'hybrid'}
('type', 'hybrid')
{'brand': 'ford', 'year': '1000', 'color': 'red'}
{'year': '1000', 'color': 'red'}
{}

In [64]:
#task1
square ={
    '1':1
}
n=2
while n<=10:
  square.update({str(n):n**2})
  n+=1
print(square)

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64, '9': 81, '10': 100}

In [72]:
#task2
book_inventory=[]
def add_book():
  title=input('title:')
  author=input('author:')
  year=input('year:')
  isbn=input('isbn:')
  quantity=int(input('quantity:'))
  tup=(title,author,year,isbn,quantity)
  book_inventory.append(tup)
  print('added book')
found=False
def search_book():
  isb=input('enter isbn:')
  for numb in range(len(book_inventory)):
    if book_inventory[numb][3]==isb:
      print('book found:\n',book_inventory[numb])
      found=True
if not found:
  print('book not in inventory')
def display_invent():
  print('display:\n')
  for numb in range(len(book_inventory)):
    print(book_inventory[numb],'\n')
def sell_book():
   isbnn=input('isbn:')
   quant=int(input('quantiy:'))
   for numb in range(len(book_inventory)):
    if isbnn==book_inventory[numb][3]:
      if quant>book_inventory[numb][4]:
        print('insufficent stock')
      else:
        book_inventorynumb=list(book_inventory[numb])
        book_inventorynumb[4]-=quant
        book_inventory[numb]=tuple(book_inventorynumb)
        print('book sold')



add_book()
add_book()
search_book()
display_invent()
sell_book()
display_invent()

book not in inventory
title:fault in stars
author:ali
year:2001
isbn:1
quantity:22
added book
title:running man
author:jawad
year:2003
isbn:2
quantity:33
added book
enter isbn:1
book found:
 ('fault in stars', 'ali', '2001', '1', 22)
display:

('fault in stars', 'ali', '2001', '1', 22)

('running man', 'jawad', '2003', '2', 33)

isbn:2
quantiy:30
book sold
display:

('fault in stars', 'ali', '2001', '1', 22)

('running man', 'jawad', '2003', '2', 3)

In [48]:
#task3
graphdict={
    '5':(3,7),
    '3':(2,4),
    '7':(8),
    '2':(),
    '4':(8),
    '8':()
}
print(graphdict)
print(graphdict['5'])

{'5': (3, 7), '3': (2, 4), '7': 8, '2': (), '4': 8, '8': ()}
(3, 7)

In [7]:
#task4
bigraph={
    'A':[('B',6),('E',1),('C',9)],
    'B':[('A',6),('E',4),('D',3)],
    'C':[('A',9),('F',2),('G',3)],
    'D':[('B',3),('E',5),('F',7)],
    'E':[('A',1),('B',4),('D',5),('F',6)],
    'F':[('C',2),('E',6),('D',7)],
    'G':[('C',3)]

}
print(bigraph['A'][0][1])
print(bigraph['E'])
print(bigraph['E'][2][1])

6
[('A', 1), ('B', 4), ('D', 5), ('F', 6)]
5